
.buscador{
    margin-top: 20em;
    margin-left: 20em;
    width: 15em;
}

#backColor{
    margin: 0;
    background-color: #545252;
}

.colorTextArea{

   border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
background-color: #FCB6B9;
padding-top: 1.5em;
padding-bottom: 1.5em;

}
.materialize-textarea{
   overflow:visible !important;
   height: 11.1em !important;
   text-align: justify;
}


#textarea1{
    background-color: #FFD7B8;
    resize: none;
}

#textarea1::placeholder { color: #B46B33}

#boxResponse{
    font-size: 1.4em;
    font-weight: bold;
    color: #545252;
}

.box{
    background-color: white;
}



button{
    margin-bottom: 1em;
}

nav{
    background-color:#ffffff;

}

.page-footer{
    background-color: #17426f;
}

.info{
    background-color: white;
    height: 30em;
    width: 100%;
    
}

nav .brand-logo {
    position: absolute;
    color: black;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}





.title{
    font-size: 1em;
}



.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}



  .nav-wrapper {
    background-color: #ffffff;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: black !important;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;

}

.fontBlue{
    color: #FA9095;
    font-family: 'Source Sans Pro', sans-serif;
font-weight: bold;
font-size: 2em;
}

.fontGray{
    color: #C4E4E1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 2em;


}

img[src="assets/images/logo2.png"]{
width: 8em;
margin-top: -14em;
opacity: 0.4;
filter: alpha(opacity=50); /* For IE8 and earlier */
}

.information h3{
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.information{
    text-align: center;
}

.tittleLinks{
    font-weight: bolder;
}

.textAreaOne{
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    background-color: #FFD7B8;
    height: 22em;

}

.textAreaTwo{
    border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    background-color: #C4E4E1;
    height: 22em;

}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}




.btn:hover{
    background-color: #D45B61 !important;
}


.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #FA9095 !important;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: row;
}

.counter{
    margin-left: 2em;
    color: #D45B61;
}

.response{
    font-weight: bolder;

}

span p{
    display: inline;
}

.counter {
    font-weight: bolder;

}

.counter .textCounter{
    margin-top: -1em;
}