.nav-wrapper{
    text-align: center;
}

.buscador{
    margin-top: 20em;
    margin-left: 20em;
    width: 30em;
}

#fondo{
    margin: 0;
}

.colorTextArea{
   background-color: white;
}
.materialize-textarea{
   overflow:visible !important;
   height: 15em !important;
   text-align: justify
}

#textarea1{
    text-align: justify;
}

#boxResponse{
    font-size: 1em;
    font-weight: bold;
}
